<%- model_class = Specialist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= paginate @specialists %>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:specialist_status_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @specialists.each do |specialist| %>
      <tr>

        <td><%= specialist.first_name %></td>
        <td><%= specialist.last_name %></td>
        <td><%= specialist.address %></td>
        <td><%= specialist.phone %></td>
        <td><%= specialist.specialist_status.name %></td>
        <td><%=l specialist.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_specialist_path(specialist), :class => 'btn btn-mini' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_specialist_path,
            :class => 'btn btn-primary' %>
