<%- model_class = Specialist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= paginate @specialists %>
<table class="table table-striped">
  <thead>
  <tr>

    <th><%= model_class.human_attribute_name(:full_name) %></th>
    <th><%= model_class.human_attribute_name(:address) %></th>
    <th><%= model_class.human_attribute_name(:phone) %></th>
    <th><%= model_class.human_attribute_name(:number_of_scheduled_appointments_today) %></th>



  </tr>
  </thead>
  <tbody>
  <% @specialists.each do |specialist| %>
      <tr>
        <td><%= link_to specialist.full_name, specialist_path(specialist) %></td>
        <td><%= specialist.address %></td>
        <td><%= specialist.phone %></td>

        <td><%= specialist.appointments.where("status_id=? AND date=?",1,Date.today).count %></td>

      </tr>
  <% end %>
  </tbody>
</table>
