<%- model_class = Specialist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @specialist.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @specialist.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @specialist.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specialist_status_id) %>:</strong></dt>
  <dd><%= @specialist.specialist_status.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @specialist.phone %></dd>
</dl>

<table class="table table-striped">
    <thead>
        <tr>
          <th>
            Patient
          </th>
          <th>
            Status
          </th>
          <th>
            Diagnostic code
          </th>
          <th>
            Appointment Date
          </th>
          <th>
            Time slot
          </th>
          <th>
            Reason
          </th>
          <th>
            Amount
          </th>
          <th>
            Actions
          </th>
        </tr>
    </thead>
    <tbody>
      <% @specialist.appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.patient.full_name %></td>
          <td><%= appointment.status.name %></td>
          <td>
            <% if appointment.diagnostic_code_id == nil%>
                <%= " " %>
            <% else %>
                <%= appointment.diagnostic_code.code %>
            <% end %>
          </td>
          <td><%= appointment.date %></td>
          <td><%= appointment.time_slot.slot %></td>
          <td><%= appointment.reason %></td>
          <td><%= number_to_currency(appointment.amount) %></td>
          <td><a class="btn" href="/appointments/<%= appointment.id %>/edit">Manage</a></td>
        </tr>
      <% end %>
    </tbody>
</table>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              manage_appointments_specialists_path, :class => 'btn'  %>


</div>
