
  Your Phone Number:<br>
  <input type="text" name="phoneNumber" id="phoneNumber">
  <br>
  <a class="btn btn-primary" href="#" id="submit">Submit</a>
  <a class="btn btn-primary" href="/patients/new" id="new patient">New Patient</a>

