<%= form_for @diagnostic_code, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @diagnostic_code.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">

            <%= pluralize(@diagnostic_code.errors.count, "error") %> prohibited this diagnostic_code from being saved:
          </div>

          <ul>
            <% @diagnostic_code.errors.full_messages.each do |message| %>
                <li class="alert alert-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :extra_amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :extra_amount, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                diagnostic_codes_path, :class => 'btn' %>
  </div>
<% end %>
