<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @patient.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @patient.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @patient.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @patient.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:insurance_id) %>:</strong></dt>
  <dd><%= @patient.insurance.name %></dd>
</dl>

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Appointment with:</th>
      <th>Date:</th>
      <th>Time:</th>
      <th>Status:</th>
      <th>Action:</th>
    </tr>

  </thead>
<% @patient.appointments.each do |app| %>
    <tr>
      <td>
        <%= app.specialist.full_name %>
      </td>
      <td>
        <%= app.date %>
      </td>
      <td>
        <%= app.time_slot.slot %>
      </td>
      <td>
        <%= app.status.name %>
      </td>
      <td>
        <a href="/appointments/<%= app.id %>">Modify Appointment</a>
      </td>
    </tr>

<% end %>
</table>
<div class="form-actions">
  <%= link_to "Create New Appointment", {controller: "appointments", action: "new_appointment_from_patient", patient_id: @patient.id}, class: 'btn btn-primary' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn' %>
  <button class="btn" id="backButton">Go Back</button>



</div>
