<div class="page-header">
  <h1>Completed Appointments Report</h1>
</div>
<p><%= link_to "PDF Version", report_completed_path( :format => 'pdf'), :class => 'btn btn-mini' %></p>
<table class="table table-striped">
<thead>
    <tr>
      <th>
        Physician Name
      </th>
      <th>
        Patient Name
      </th>
      <th>
        Appointment Date
      </th>
      <th>
        Time
      </th>
      <th>
        Amount
      </th>
    </tr>
</thead>
<% @appointments.each do |appointment| %>
<tr>
    <td>
      <%= appointment.specialist.full_name %>
    </td>
    <td>
      <%= appointment.patient.full_name %>
    </td>
    <td>
      <%= appointment.date %>
    </td>
    <td>
      <%= appointment.time_slot.slot %>
    </td>
    <td>
      <%= number_to_currency(appointment.amount) %>
    </td>
</tr>
<% end %>
</table>
