<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= paginate @appointments %>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:specialist_id) %></th>
      <th><%= model_class.human_attribute_name(:patient_id) %></th>
      <th><%= model_class.human_attribute_name(:status_id) %></th>
      <th><%= model_class.human_attribute_name(:diagnostic_code_id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time_slot_id) %></th>

      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>

        <td><%= appointment.specialist.full_name %></td>
        <td><%= appointment.patient.full_name %></td>
        <td><%= appointment.status.name %></td>
        <td>
          <% if(appointment.diagnostic_code)== nil%>
          <%= '' %>
          <% else %>
          <%= appointment.diagnostic_code.codeAndName %>
          <% end %>
        </td>
        <td><%= appointment.date %></td>
        <td><%= appointment.time_slot.slot %></td>

        <td><%= number_to_currency(appointment.amount) %></td>
        <td><%=l appointment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appointment), :class => 'btn btn-warning' %>

          <p><%= link_to "Invoice", appointment_path(appointment, :format => 'pdf'), :class => 'btn' %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

