<%= form_for @appointment, :html => { :class => 'form-horizontal' } do |f| %>
    <div id="appointment_id" style="display: none;"><%= @appointment.id %></div>

    <div class="control-group">
      <%= f.label :patient_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :patient_id,Patient.where("id =?",@patient.id),:id,:full_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :specialist_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :specialist_id,Specialist.allActive,:id,:full_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, :class => 'datepicker' %>

      </div>

      <div class="control-group">
        <%= f.label :time_slot_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :time_slot_id,TimeSlot.all,:id,:slot %>
        </div>
      </div>



      <div class="control-group patient-view">
        <%= f.label :status_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :status_id,Status.all,:id,:name %>
        </div>
      </div>


    </div>
    <div class="control-group">
      <%= f.label :reason, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :reason, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group patient-view">
      <%= f.label :diagnostic_code_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :diagnostic_code_id,DiagnosticCode.all,:id,:codeAndName, {include_blank: true} %>
      </div>
    </div>
    <div class="control-group patient-view">
      <%= f.label :note, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :note, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group patient-view">
      <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :amount, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>

      <button type="button" class="btn" id="backButton">Go Back</button>
    </div>
<% end %>
