<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <div id="appointment_id"><%= @appointment.id %></div>
  <div id="patient_id"><%= @appointment.patient_id %></div>
  <dt><strong><%= model_class.human_attribute_name(:specialist_id) %>:</strong></dt>
  <dd><%= @appointment.specialist.full_name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @appointment.patient.full_name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:status_id) %>:</strong></dt>
  <dd><%= @appointment.status.name %></dd>


  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @appointment.date %></dd>

  <dt><strong><%= model_class.human_attribute_name(:time) %>:</strong></dt>
  <dd><%= @appointment.time_slot.slot %></dd>

  <dt><strong><%= model_class.human_attribute_name(:reason) %>:</strong></dt>
  <dd><%= @appointment.reason %>. </dd>

  <dt><strong><%= model_class.human_attribute_name(:diagnostic_code_id) %>:</strong></dt>
  <dd>
    <% if(@appointment.diagnostic_code)== nil%>
        <%= '' %>
    <% else %>
        <%= @appointment.diagnostic_code.codeAndName %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= number_to_currency(@appointment.amount) %></dd>

  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @appointment.note %></dd>
</dl>


<div class="form-actions">

  <button class="btn" id="backButton">Go Back</button>
  <button class="btn btn-warning" id="cancelAppointment">Cancel Appointment</button>
</div>
