<!DOCTYPE html>
<html>
<head>
  <title>IndividualProject</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://code.jquery.com/ui/1.10.2/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Dermatology Office</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                  Patients
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Current Patient", controller: 'find_by_phone', action: 'index' %>
                  </li>
                  <li>
                    <%= link_to "New Patient", controller: 'patients', action: 'new' %>
                  </li>
                  <li>
                    <%= link_to "Cancel An Appointment", controller: 'find_by_phone', action: 'index' %>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                  Physicians
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Manage Your Appointments", controller: 'specialists', action: 'manage_appointments' %>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                  Office Workers
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Manage Appointments", controller: 'appointments', action: 'index' %>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                  Administrators
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to "Completed Appointments Report", controller: 'report', action: 'completed' %>
                  </li>
                  <li>
                    <%= link_to "Manage Specialists", controller: 'specialists', action: 'index' %>
                  </li>
                  <li>
                    <%= link_to "Manage Diagnostic Codes", controller: 'diagnostic_codes', action: 'index' %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">


        <div class="span10"><%= yield %></div>
        <div class="span2"></div>

      </div>
    </div>




    <div class="navbar navbar-fixed-bottom">
      <div class="container">

          <div class="span10">
            <h6 class="muted credit text-center">
              Dermatology Office 2014
            </h6>
          </div>
          <div class="span2"></div>
      </div>
    </div>




</body>
</html>
